[Desktop Entry]
Name=Customizable Clock
Comment=A customizable clock with hands

Icon=preferences-system-time
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/analogclock.qml
X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date
X-Plasma-StandAloneApp=true


X-KDE-PluginInfo-Author=Aaron Meese
X-KDE-PluginInfo-Email=ajmeese7@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.customclock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/ajmeese7/clock
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
